:root {
    --blockSide: calc(min(calc(100vw / 4), calc(100vh / 5)) - 4px);
    --blockColor: white;
    --blockBackgroundColor: black;
    --swipeAnimetionDuration: .1s;
    /* --swipeAnimetionDuration: .02s; */
}
body {
    margin: 0;
    margin-left: 3px;
    color: var(--blockColor);
    font-family: "Outfit", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    overflow: hidden;
}
#blocks {
    padding: 0;
    /* top: -5px;
    left: 0; */
    user-select: none;
}
#blocks div p {
    position: relative;
    color: var(--blockColor);
    height: auto;
    width: 100%;
    /* top: calc(var(--blockSide) / 7.5); */
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--blockSide) * .3);
    user-select: none;
}
#blocks div {
    position: relative;
    display: inline-block;
    height: var(--blockSide);
    width: var(--blockSide);
    background-color: var(--blockBackgroundColor);
    border-radius: calc(var(--blockSide) / 10);
    /* margin: 5px; */
    margin-top: 3px;
}
#blocks div.air {
    background-color: transparent;
    color: transparent;
}
#blocks div.A_2by1 {
    height: calc(var(--blockSide) * 2);
}
#blocks div.A_2by2 {
    height: calc(var(--blockSide) * 2);
    width: calc(var(--blockSide) * 2);
}
#blocks div.A_1by2 {
    width: calc(var(--blockSide) * 2);
}
@keyframes leftSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rightSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes upSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes downSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateY(0);
    }
}
.leftSwipeAnimetion {
    animation: leftSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.rightSwipeAnimetion {
    animation: rightSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.upSwipeAnimetion {
    animation: upSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.downSwipeAnimetion {
    animation: downSwipe var(--swipeAnimetionDuration) ease-in-out;
}
@keyframes opacityMitigation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}
@keyframes opacityUndo {
    0% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}
.opacityMitigationAnimtion {
    animation: opacityMitigation 1s ease-in-out forwards;
}
.opacityUndoAnimtion {
    animation: opacityUndo 1s ease-in-out forwards;
}