:root {
    --blockCaseWidth: 4;
    --blockCaseHeight: 5;
    --blockSide:
    calc(
        min(
            calc(
                100dvw / var(--blockCaseWidth) - 4px
            ),
            calc(
                100dvh / var(--blockCaseHeight) - 4px - (50px / var(--blockCaseHeight))
                )
            )
        );
    --sampleBlockCaseWidth: 4;
    --sampleBlockCaseHeight: 5;
    --sampleBlockSide:
    calc(
        min(
            calc(
                (90vw - 10px) / var(--sampleBlockCaseWidth) - 4px
            ),
            calc(
                (75vh) / var(--sampleBlockCaseHeight) - 4px - (50px / var(--sampleBlockCaseHeight))
            )
        )
    );
    --blockColor: white;
    --blockBackgroundColor: black;
    --popupBackgroundColor: 220, 220, 220;
    --swipeAnimetionDuration: .05s;
    --clearedBlockAnimationBC: coral;
    /* --swipeAnimetionDuration: .02s; */
}
body {
    margin: 0;
    color: var(--blockColor);
    font-family: "Outfit", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    overflow: hidden;
    overscroll-behavior: none;
    padding-bottom: calc(env(safe-area-inset-bottom) * .75);
}
.topMenu {
    position: absolute;
    height: 70px;
    font-size: 2em;
    width: 100dvw;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.topMenu::selection {
    background-color: white;
}
.topMenu .menuTitle {
    font-size: .9em;
    position: absolute;
    z-index: 100;
}
.topMenu .expandableMenuBtn {
    z-index: 100;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 15px;
    transform: translateY(-5px);
    background-color: transparent;
}
.topMenu .expandableMenuBtn div {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    height: 3px;
    width: 100%;
    display: flex;
    top: 12.5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: black;
}
@keyframes menuStickRotate1 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickRotate2 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickOpacityErase {
    0% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
.menuStickRotate1Animation {
    animation: menuStickRotate1 .5s ease-in-out both;
}
.menuStickRotate2Animation {
    animation: menuStickRotate2 .5s ease-in-out both;
}
.menuStickEraseAnimation {
    animation: menuStickOpacityErase .25s ease-in-out both;
}
@keyframes menuStickReverseRotate1 {
    0% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickReverseRotate2 {
    0% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickOpacityReverseErase {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
.menuStickRotateReverse1Animation {
    animation: menuStickReverseRotate1 .5s ease-in-out both;
}
.menuStickRotateReverse2Animation {
    animation: menuStickReverseRotate2 .5s ease-in-out both;
}
.menuStickEraseReverseAnimation {
    animation: menuStickOpacityReverseErase .25s ease-in-out both;
    animation-delay: .25s;
}
#blocks {
    position: relative;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    margin-top: 1.5px;
    line-height: 0;
}
.popup.n2 .consoles .sampleBlocks {
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    margin-top: 1.5px;
    line-height: 0;
}
.popup .timerIcon, .popup .handIcon {
    position: absolute;
    left: 10vw;
    height: 1.5em;
    display: flex;
    align-content: center;
}
@media screen and (max-width: 500px) {
    .popup .timerIcon, .popup .handIcon {
        --iconHeight: clamp(1em, 10vw, 1.5em);
        left: -10px;
        height: var(--iconHeight);
        transform: translateY(calc(var(--iconHeight) * -.35 + 15px));
    }
}
#blocks div p {
    position: relative;
    color: var(--blockColor);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17.5%;
    font-size: calc(var(--blockSide) * .3);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#blocks div, .popup.n2 .consoles .sampleBlocks div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
#blocks div {
    height: var(--blockSide);
    width: var(--blockSide);
    background-color: var(--blockBackgroundColor);
    border-radius: calc(var(--blockSide) / 10);
    margin: 1.5px;
}
#blocks div.air {
    /* background-color: rgb(242, 242, 242); */
    background-color: transparent;
    color: transparent;
}
#blocks div.A_2by1 {
    height: calc(var(--blockSide) * 2);
}
#blocks div.A_2by2 {
    height: calc(var(--blockSide) * 2);
    width: calc(var(--blockSide) * 2);
}
#blocks div.A_1by2 {
    width: calc(var(--blockSide) * 2);
}
@keyframes leftSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rightSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes upSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes downSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateY(0);
    }
}
.leftSwipeAnimetion {
    animation: leftSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.rightSwipeAnimetion {
    animation: rightSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.upSwipeAnimetion {
    animation: upSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.downSwipeAnimetion {
    animation: downSwipe var(--swipeAnimetionDuration) ease-in-out;
}
@keyframes opacityMitigation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}
@keyframes opacityUndo {
    0% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}
.opacityMitigationAnimation {
    animation: opacityMitigation .5s ease-in-out forwards;
}
.opacityUndoAnimation {
    animation: opacityUndo .5s ease-in-out forwards;
}
.popup {
    position: fixed;
    color: black;
    background-color: rgba(var(--popupBackgroundColor), .75);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -75vh;
    height: 75vh;
    width: calc(100vw - 20px);
    left: 10px;
    backdrop-filter: blur(4px);
}
.popup.n2 {
    width: calc(100% - 35px);
    left: calc(.5 * 35px);
    bottom: calc(-75vh - (.25 * 30px));
    /* bottom: 0; */
    background-color: rgba(var(--popupBackgroundColor), .875);
}
@keyframes popupDisplay {
    0% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
}
.popupDisplayAnimation {
    animation: popupDisplay .4s ease-in-out forwards;
}
@keyframes popupHidden {
    0% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
    100% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
}
.popupHiddenAnimation {
    animation: popupHidden .4s ease-in-out forwards;
}
.popup div, .popup p {
    font-size: 2em;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.popup p {
    margin: 20px;
    --fontSize: clamp(1.5em, 15vh, 3em);
    /* font-size: calc(var(--fontSize) - .8em); */
    height: var(--fontSize);
    display: block;
    position: relative;
    transform: translateY(1em);
}
.popup div, .popup p:hover {
    cursor: default;
}
.popup #topTitles {
    margin-top: 15px;
    font-size: 1.5em;
    background-color: transparent;
    border: 3px black solid;
    border-radius: 1.5em;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.popup div #topTitle {
    font-size: 1.5em;
    background-color: transparent;
}
.popup div :hover {
    cursor: pointer;
}
.popup .btns {
    position: absolute;
    user-select: none;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 0;
    border-radius: 100px;
    text-align: center;
    bottom: calc(10vh + 50px);
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    /* border: 4px black solid; */
}
.popup .btns .partition {
    position: absolute;
    top: 30px;
    width: 5px;
    padding: 0;
    height: 150px;
    left: calc(200px + 5px);
    border-radius: 10px;
}
.popup button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
}
.popup button img {
    height: 90%;
    width: 90%;
    user-select: none;
}
.popup.n2 .consoles {
    text-align: center;
    font-size: .8em;
    display: flex;
    justify-content: center;
    left: calc(50vw);
    /* margin-top: calc(15%); */
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
img {
    /* position: relative; */
    height: 1em;
}
.popup.n2 .consoles .widthCtrl, .popup.n2 .consoles .heightCtrl {
    position: relative;
    padding: 10px;
}
.popup.n2 .consoles .sampleBlocks {
    /* transform: translateY(calc(-50% + 13dvh)); */
    /* top: 10px; */
    position: absolute;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    text-align: center;
    line-height: 0;
    pointer-events: none;
    margin: 1.5px;
    white-space: nowrap;
    overflow: visible;
    line-height: 0;
    top: 8px;
    align-items: center;
    /* transform: translateY(-30px); */
}
.popup.n2 .consoles .sampleBlocks div {
    /* all: unset; */
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    /* height: calc(100px / var(--sampleBlockCaseHeight));
    width: calc(100px / var(--sampleBlockCaseWidth)); */
    background-color: var(--blockBackgroundColor);
    border-radius: calc(.05em);
    background-color: black;
    opacity: .1;
    font-size: .8em;
    margin: 1.5px;
    height: var(--sampleBlockSide);
    width: var(--sampleBlockSide);
    border-radius: calc(var(--sampleBlockSide) / 10);
}
.popup.n2 .consoles .down {
    rotate: 180deg;
}
.popup.n2 .consoles img {
    width: .7em;
    height: .7em;
    user-select: none;
}
.popup.n2 .consoles img::selection {
    background-color: transparent;
}
.popup.n2 .consoles .margin {
    width: 1em;
}
.popup.n2 .consoles span {
    font-size: 2em;
    width: 2em;
}
.popup.n2 .consoles .operatorSymbols {
    position: relative;
    top: 1.6em;
}
.popup.n2 .consoles .number,
.popup.n2 .consoles .operatorSymbols,
.popup.n2 .consoles .up,
.popup.n2 .consoles .down {
    text-shadow:
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975),
    0px 0px 10px rgba(200, 200, 200, .975);
}
@keyframes changeAcceptance {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.changeAcceptanceAnimation {
    animation: changeAcceptance 1s ease-in-out forwards infinite;
}
@keyframes limit {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(100px);
    }
    75% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}
.limitAnimation {
    animation: limit 1s ease-in-out forwards infinite;
}
@keyframes sampleBlockDisplay {
    0%{
        transform: scale(.25);
        opacity: 0;
    }
    75%{
        transform: scale(.975);
        opacity: .05;
    }
    100%{
        transform: scale(1);
        opacity: .1;
    }
}
.sampleBlockDisplayAnimation {
    animation: sampleBlockDisplay .4s ease-in-out both;
}
@keyframes clearedBlock {
    0% {
        transform: scale(1);
        background-color: var(--blockBackgroundColor);
    }
    50% {
        transform: scale(.95);
        background-color: var(--clearedBlockAnimationBC);
    }
    100% {
        transform: scale(1);
        background-color: var(--blockBackgroundColor);
    }
}
.clearedBlockAnimation {
    animation: clearedBlock .4s ease-in-out both;
}
.notification {
    --fontSize: 1.2em;
    --padding: .5em;
    padding: var(--padding);
    padding-left: calc(var(--padding) * 1.25);
    padding-right: calc(var(--padding) * 1.25);
    border-radius: calc(var(--fontSize) + var(--padding));
    font-size: var(--fontSize);
    position: fixed;
    pointer-events: none;
    user-select: none;
    color: black;
    background-color: rgba(225, 225, 225, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    bottom: 60px;
    margin: 0;
    width: max-content;
    max-width: 90vw;
    transform: translateX(-50%);
    transform: translate(-50%, 3em);
    opacity: 0;
}
.notification span {
    color: black;
    opacity: 1;
    text-align: center;
    /* display: inline-block; */
    /* width: 100%; */
    /* white-space: normal; */
    /* word-wrap: break-word; */
}
.notification span span {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    /* white-space: nowrap; */
    /* width: fit-content; */
}
@keyframes notificationDisplay {
    0% {
        transform: translate(-50%, 4em);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
.notificationDisplayAnimetion {
    animation: notificationDisplay .25s ease-out both;
}
@keyframes notificationHidden {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 4em);
        opacity: 0;
    }
}
.notificationHiddenAnimetion {
    animation: notificationHidden .25s ease-out both;
}
@media screen and (max-height: 700px) {
    .popup .btns {
        bottom: 60px;
    }
}
@media screen and (max-height: 550px) {
    .notification {
        bottom: 10px;
        /* width: max-content; */
        max-width: 70vw;
        /* left: calc(50% - 30px); */
    }
    .topMenu .menuTitle {
        opacity: 0;
    }
    /* .popup p {
        transform: translateY(-20px);
    } */
    .popup .btns {
        height: 70px;
        width: 70px;
        /* left: calc(80vw);
        top: calc(40vh); */
        left: -5px;
        bottom: 0;
        transform: translateY(6px);
    }
}
@media screen and (max-height: 650px) {
    .popup p {
        transform: translateY(-5px);
    }
}
@media screen and (min-height: 700px) {
    .popup.n2 .consoles {
        margin-top: calc(15vh);
    }
}