:root {
    --blockCaseWidth: 4;
    --blockCaseHeight: 5;
    --blockSide: calc(min(calc(100dvw / var(--blockCaseWidth)), calc(100dvh / var(--blockCaseHeight)) - 10px) - 1vh);
    --blockColor: white;
    --blockBackgroundColor: black;
    --swipeAnimetionDuration: .1s;
    /* --swipeAnimetionDuration: .02s; */
}
body {
    margin: 0;
    color: var(--blockColor);
    font-family: "Outfit", "Noto Sans JP", "SF Pro JP", "Arial", sans-serif;
    overflow: hidden;
}
.topMenu {
    position: absolute;
    height: 70px;
    font-size: 2em;
    width: 100dvw;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
}
.topMenu .menuTitle {
    font-size: .9em;
    transform: translateY(5px);
    user-select: none;
    position: absolute;
    /* text-align: left;
    bottom: 5px;
    left: 5px; */
}
.topMenu .expandableMenuBtn {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 15px;
    top: 15px;
    /* left: calc(100% - var(--blockSide) + (var(--blockSide) / var(--blockCaseWidth) * 1.5)); */
    background-color: transparent;
}
.topMenu .expandableMenuBtn div {
    position: relative;
    height: 3px;
    width: 100%;
    display: flex;
    top: 12.5px;
    margin-bottom: 10px;
    /* rotate: 45deg; */
    border-radius: 10px;
    background-color: black;
}
@keyframes menuStickRotate1 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickRotate2 {
    0% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
    100% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
}
@keyframes menuStickOpacityErase {
    0% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
.menuStickRotate1Animation {
    animation: menuStickRotate1 .5s ease-in-out both;
}
.menuStickRotate2Animation {
    animation: menuStickRotate2 .5s ease-in-out both;
}
.menuStickEraseAnimation {
    animation: menuStickOpacityErase .25s ease-in-out both;
}
@keyframes menuStickReverseRotate1 {
    0% {
        rotate: 45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickReverseRotate2 {
    0% {
        rotate: -45deg;
        top: calc(12.5px + 15px);
        margin-bottom: -16px;
    }
    100% {
        rotate: 0deg;
        top: 12.5px;
        margin-bottom: 10px;
    }
}
@keyframes menuStickOpacityReverseErase {
    0% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}
.menuStickRotateReverse1Animation {
    animation: menuStickReverseRotate1 .5s ease-in-out both;
}
.menuStickRotateReverse2Animation {
    animation: menuStickReverseRotate2 .5s ease-in-out both;
}
.menuStickEraseReverseAnimation {
    animation: menuStickOpacityReverseErase .25s ease-in-out both;
    animation-delay: .25s;
}
#blocks {
    position: relative;
    padding: 0;
    user-select: none;
    text-align: center;
    margin-top: 1.5px;
}
#blocks div p {
    position: relative;
    color: var(--blockColor);
    height: auto;
    width: 100%;
    /* top: calc(var(--blockSide) / 7.5); */
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--blockSide) * .3);
    user-select: none;
}
#blocks div {
    position: relative;
    display: inline-block;
    height: var(--blockSide);
    width: var(--blockSide);
    background-color: var(--blockBackgroundColor);
    border-radius: calc(var(--blockSide) / 10);
    margin: 1.5px;
}
#blocks div.air {
    /* background-color: rgb(242, 242, 242); */
    background-color: transparent;
    color: transparent;
}
#blocks div.A_2by1 {
    height: calc(var(--blockSide) * 2);
}
#blocks div.A_2by2 {
    height: calc(var(--blockSide) * 2);
    width: calc(var(--blockSide) * 2);
}
#blocks div.A_1by2 {
    width: calc(var(--blockSide) * 2);
}
@keyframes leftSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rightSwipe {
    0% {
        transform: translateX(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes upSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * -1));
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes downSwipe {
    0% {
        transform: translateY(calc(var(--blockSide) * 1));
    }
    100% {
        transform: translateY(0);
    }
}
.leftSwipeAnimetion {
    animation: leftSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.rightSwipeAnimetion {
    animation: rightSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.upSwipeAnimetion {
    animation: upSwipe var(--swipeAnimetionDuration) ease-in-out;
}
.downSwipeAnimetion {
    animation: downSwipe var(--swipeAnimetionDuration) ease-in-out;
}
@keyframes opacityMitigation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}
@keyframes opacityUndo {
    0% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}
.opacityMitigationAnimation {
    animation: opacityMitigation .5s ease-in-out forwards;
}
.opacityUndoAnimation {
    animation: opacityUndo .5s ease-in-out forwards;
}
.popup {
    position: fixed;
    color: black;
    background-color: rgba(220, 220, 220, 0.75);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: -75vh;
    height: 75vh;
    width: calc(100vw - 20px);
    left: 10px;
}
.popup.n2 {
    width: calc(100% - 35px);
    left: calc(.5 * 35px);
    bottom: calc(-75vh - (.25 * 30px));
    /* bottom: 0; */
    background-color: rgba(200, 200, 200, .975);
}
@keyframes popupDisplay {
    0% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
}
.popupDisplayAnimation {
    animation: popupDisplay .4s ease-in-out forwards;
}
@keyframes popupHidden {
    0% {
        /* bottom: 0; */
        transform: translateY(-75vh);
        opacity: 1;
    }
    100% {
        /* bottom: -75vh; */
        transform: translateY(0);
        opacity: 0;
    }
}
.popupHiddenAnimation {
    animation: popupHidden .4s ease-in-out forwards;
}
.popup div, .popup p {
    font-size: 2em;
    padding: 10px;
    text-align: center;
    user-select: none;
}
.popup div, .popup p:hover {
    cursor: default;
}
.popup div .topTitle {
    font-size: 1.1em;
}
.popup div :hover {
    cursor: pointer;
}
.popup .btns {
    position: absolute;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 0;
    border-radius: 100px;
    text-align: center;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    /* border: 4px black solid; */
}
.popup .btns .partition {
    position: absolute;
    top: 30px;
    width: 5px;
    padding: 0;
    height: 150px;
    left: calc(200px + 5px);
    border-radius: 10px;
}
.popup button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
}
.popup button img {
    height: 90%;
    width: 90%;
}
.popup.n2 .consoles {
    text-align: center;
    font-size: .8em;
    display: flex;
    justify-content: center;
    left: calc(50vw);
    margin-top: calc(10%);
    user-select: none;
}
.popup.n2 .consoles .down {
    rotate: 180deg;
}
.popup.n2 .consoles img {
    width: .7em;
    height: .7em;
}
.popup.n2 .consoles .margin {
    width: 1em;
}
.popup.n2 .consoles span {
    font-size: 2em;
    width: 2em;
}
.popup.n2 .consoles .operatorSymbols {
    position: relative;
    top: 1.5em;
}
.popup.n2 .consoles .number {
    animation: changeAcceptance 1s forwards infinite;
}
@keyframes changeAcceptance {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.changeAcceptanceAnimation {
    animation: changeAcceptance 1s forwards infinite ease-in-out;
}